<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    chat room

    
<input id="startChat" type="hidden" data-roomId="<%= id %>">Start chat</input>

<input type="text" id="user_id" placeholder="enter user id"></input>
<input type="text" id="input" placeholder="message"></input>
<span id="typing">typing.....</span>
<button id="btn">Send</button>


<ul id="msglist">
    <% for(var i=0; i<chats.length; i++) {%>
        <li><%= chats[i].user %>: <%= chats[i].content %></li>
     <% } %>
</ul>










    <script src="/socket.io/socket.io.js"></script>
    <script >
    var socket = io();    
var btn=document.getElementById('btn');
var inputField=document.getElementById('input');
var msgs=document.getElementById('msglist');
let spantyping=document.getElementById('typing');
spantyping.style.display='none';
let startChat=document.getElementById('startChat');
let username=document.getElementById('user_id');
let istyping=false;
let typingId=null;


socket.emit('join_room',{
        room_id:startChat.getAttribute('data-roomId')
    }
    
    );

    socket.on('Typing',(data)=>{
    //console.log("typing",data.username);
    spantyping.style.display='block';
spantyping.innerHTML=`${data.username} is typing`;
typingId= setTimeout(()=>{
    if(!typing){
        spantyping.style.display='none';
    }
    spantyping.style.display='none';
},1000);

})

btn.onclick=function exec(){
    // console.log("button clicked");
    // console.log(inputField.value);
    // console.log(startChat.getAttribute('data-roomId'));
    socket.emit('msg_send',{
        msg:inputField.value,
        username:username.value,
        room_id:startChat.getAttribute('data-roomId')
    }
    
    );
}



socket.on('msg_recieved',(data)=>{  // server recieves a message
    //console.log("message from server",data.msg);
    let li=document.createElement('li');
    li.innerText=`${data.username}:${data.msg}`;
    msgs.appendChild(li);
    inputField.value='';
})




inputField.addEventListener('keypress',function(e){
    //console.log("key pressed");
    typing=true;
    clearTimeout(typingId);
      socket.emit('Typing',{room_id:startChat.getAttribute('data-roomId'),username:username.value});
      typing=false;

});
    </script>
</body>
</html>